@page "{date}"
@model CRMSystem.Pages.DashboardModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Layouts/_Layout";
}

<div class="container">
    <div class="row">
        <h2 class="text-center">Аналитический дэшборд за @Model.Date.Day.@Model.Date.Month.@Model.Date.Year</h2>
    </div>
    <br /><br />

    <div class="divider py-1 bg-primary"></div>
     <br><br>

     <div class="row">
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height:90%">
                  <div class="card-header">Текущая выручка</div>
                  <div class="card-body">
                    <h4 class="card-title">@if (!Model.IsEmpty)
                        {
                            @Model.Appointments.Where(a => a.IsMissed == false).Sum(a => a.Price)
                        }
                    </h4>
                    <p class="card-text">Общая выручка по записям на выбранную дату на данный момент</p>
                  </div>
              </div>
         </div>
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height:90%">
                  <div class="card-header">Количество посещённых записей</div>
                  <div class="card-body">
                    <h4 class="card-title">@if (!Model.IsEmpty)
                        {
                            @Model.Appointments.Where(a => a.IsMissed == false).Count()
                        }
                    </h4>
                    <p class="card-text"></p>
                  </div>
              </div>
         </div>
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem;height: 90%">
                  <div class="card-header">Количество запланированных записей</div>
                  <div class="card-body">
                    <h4 class="card-title"> @if (!Model.IsEmpty) { @Model.Appointments.Count() } </h4>
                    <p class="card-text"></p>
                  </div>
              </div>
         </div>
     </div>
     <div class="row">
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height: 90%">
                  <div class="card-header">Средний чек</div>
                  <div class="card-body">
                    <h4 class="card-title"> @if (!Model.IsEmpty && @Model.Appointments.Where(a => a.IsMissed == false).Count() != 0)
                        {
                            @($"{@Model.Appointments.Where(a => a.IsMissed == false).Sum(a => a.Price) / @Model.Appointments.Where(a => a.IsMissed == false).Count():0.##}")
                        }
                    </h4>
                    <p class="card-text">Средний чек по всем выполненным записям</p>
                  </div>
              </div>
         </div>
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height: 90%">
                  <div class="card-header">Самая популярная услуга</div>
                  <div class="card-body">
                    <h4 class="card-title">@if (!Model.IsEmpty)
                        {
                            @Model.Appointments.GroupBy(a => a.Procedure).Select(group => new {procedure = group.Key, count = group.Count()}).OrderByDescending(g => g.count).First().procedure.Name
                        }
                    </h4>
                    <p class="card-text"></p>
                  </div>
              </div>
         </div>
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height: 90%">
                  <div class="card-header">Самая прибыльная услуга</div>
                  <div class="card-body">
                    <h4 class="card-title">@if (!Model.IsEmpty)
                        {
                            @Model.Appointments.GroupBy(a => a.Procedure).Select(group => new {procedure = group.Key, sum = group.Sum(p => p.Price)}).OrderByDescending(g => g.sum).First().procedure.Name
                        }
                    </h4>
                    <p class="card-text"></p>
                  </div>
              </div>
         </div>
     </div>
     <div class="row">
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height: 90%">
                  <div class="card-header">Самый частый клиент</div>
                  <div class="card-body">
                    <h4 class="card-title">@if (Model.MostLoyalPatient is not null) { @Model.MostLoyalPatient.LastName<wbr>  @Model.MostLoyalPatient.FirstName <wbr>@Model.MostLoyalPatient.PaternalName}</h4>
                    <p class="card-text"></p>
                  </div>
              </div>
         </div>
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height: 90%">
                  <div class="card-header">Самый популярный специалист</div>
                  <div class="card-body">
                    <h4 class="card-title">@if (Model.MostPopularDoctor is not null)
                        {
                            @Model.MostPopularDoctor.LastName<wbr> @Model.MostPopularDoctor.FirstName <wbr>@Model.MostPopularDoctor.PaternalName
                        }
                    </h4>
                    <p class="card-text"></p>
                  </div>
              </div>
         </div>
         <div class="col-4">
             <div class="card border-primary mb-3" style="max-width: 20rem; height: 90%">
                  <div class="card-header">Самый прибыльный специалист</div>
                  <div class="card-body">
                    <h4 class="card-title">@if (Model.MostProfitDoctor is not null)
                        {
                            @Model.MostProfitDoctor.LastName<wbr>  @Model.MostProfitDoctor.FirstName <wbr> @Model.MostProfitDoctor.PaternalName
                        }
                    </h4>
                    <p class="card-text"></p>
                  </div>
              </div>
         </div>
     </div>
    <div class="row align-items-center" style="height:100%">
        <form method="post">
            <label>Введите дату, за которую необходимо просмотреть расписание: </label>
            <input asp-for="NewDate" type="date" placeholder="dd.mm.yyyy" value="" min="2021-01-01" max="2030-12-31"/>
            <input type="submit" />
        </form>
    </div>
</div>

