@page "{date}"
@model CRMSystem.Pages.ScheduleModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Layouts/_Layout";
}

<br />

<div class="container" style="max-width:720px">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Расписание на @Model.Date.Day.@Model.Date.Month.@Model.Date.Year</h2>
        </div>
    </div>
    <div class="row pt-4 align-content-lg-center">
            <table class="table table-striped" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>
                            Дата и время посещения
                        </th>
                        <th>
                            Процедура
                        </th>
                        <th>
                            Специалист
                        </th>
                        <th>
                            Пациент
                        </th>
                        <th>
                            Цена
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach(var a in Model.Appointments.FindAll(a => a.IsDeleted == false && a.DatetimeStart.Date == Model.Date))
                    {
                        
                        <tr class="text-center">
                            <td>
                                @a.DatetimeStart
                            </td>
                            <td>
                                @a.Procedure.Name
                            </td>
                            <td>
                                @a.Doctor.LastName @a.Doctor.FirstName @a.Doctor.PaternalName
                            </td>
                            <td>
                            @if(a.Patient is not null)
                            {
                                <div>@a.Patient.LastName @a.Patient.FirstName @a.Patient.PaternalName</div>                            
                            }
                            </td>
                            <td>
                            @if(a.Price is not null)
                            {
                                @a.Price
                            }
                            </td>
                            <td>
                            @if (a.IsMissed == true)
                            {
                                <div class="text-center" style="background-color:#ff7851; color:white">Запись пропущена</div>
                            }
                            else
                            {
                                <div class="text-center" style="background-color:#56cc9d; color:white">Запись была посещена</div>
                            }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    <div class="row align-items-center" style="height:100%">
        <form method="post">
            <label>Введите дату, за которую необходимо просмотреть расписание: </label>
            <input asp-for="NewDate" type="date" placeholder="dd.mm.yyyy" value="" min="2021-01-01" max="2030-12-31"/>
            <input type="submit" />
        </form>
    </div>
</div>